* {
    box-sizing: border-box;
}
html, body {
    margin: 0;
    padding: 0;
    font-family: 'source sans pro', sans-serif;
}

/* TYPOGRAPHY */
.card-title,
.card-btn {
    font-family: 'blinker', sans-serif;
}
.card-title{
    font-size: 1.75rem;
    color: #05cbe9;
    margin: 0;
}
.card-body,
.card-read-time{
    font-size: 1rem;
    color: #fff;
}
.card-body {
    line-height: 1.8;
}
.card-btn{
    font-size: 1.25rem;
    font-weight: 700 ;
    text-decoration: none;
    letter-spacing: 1px;
}
.card-read-time span {
    font-weight: 700;
    display: block;
    font-size: 1.5em;
}
.card-read-time {
    line-height: 1.2;
    opacity: .6;
}
@media (min-width: 500px) {
    .card-title{
        font-size: 2rem;
    }
    .card-body,
    .card-read-time{
        font-size: 1.2rem;
    }
}
/* LAYOUT */
.card {
    width: 70%;
    max-width: 800px;
    min-height: 300px;
    background-color: #111d4a;
    margin: auto;
    display: flex;
    flex-direction: column;
}
.card-img {
    flex-basis: 200px;
    min-width: 0;
    min-height: 0;
    object-fit: cover;
}
.content {
    padding: 2em;
}
.card-footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    /* margin-top: 3em; */
    }
.card-read-time{
    margin: 0;
}
.card-btn {
    background-color: #05cbe9;
    color: #111d4a;
    padding: .35rem 1.25rem;
    cursor: pointer;
}
.card-btn:hover,
.card-btn:focus {
    color:  white;
}
@media (min-width: 500px) {
    .card {
        width: 100%;
        flex-direction: row;
        /* align-items: center; */
    }
    .card-img{
        height: 300px;
    }
    .content {
        padding: 1em;
        display: flex;
        flex-direction: column;
    }
    .card-body {
        max-width: 75%;
    }
    .card-footer{
        margin-top: auto;
    }
}